@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h2>@Localizer["SI.NET"]</h2>


<form asp-action="CultureTestPost" method="POST">
    <input type="text" name="cokolwiek"/>

    <input type="submit"/>
</form>