@{
    ViewBag.Title = "Strona główna kontroler Template";
    Layout = "_Layout2";
}

<h2>Strona główna kontrolera</h2>

<div>
    Tu jest body
</div>

@section TopSection {
    <div>
        <h3>Top Section</h3>
        <p>Jakiś tekst</p>
    </div>
}



@section FooterSection
{
    <div>
            <h3>Footer Section</h3>
            <p>Jakiś tekst</p>
        </div>
}
